@import url("../fonts/AktivGroteskCorp/stylesheet.css");

.text{
    margin: 0;
    font-size: 30px;
    line-height: 35px;
    font-family: 'Aktiv Grotesk Corp';
}

.defaulttext{
    margin: 0;
    font-size: 30px;
    line-height: 35px;
}