* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-style: 100%;
    line-height: 1;
    font-style: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: "Lato";

}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style-type: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-style: inherit;
    font-weight: 400;
}

.wrapper{
    display: flex;
    display: -ms-flexbox;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
  
}
.mainblock__content{
    position: relative;
    z-index: 50;
    flex: 1 1 auto;
   font-size: 18px;
   

}
.mainblock{
    min-height: 100vh;
    display: flex;

    justify-content: center;
    text-align: center;
    padding: 30px 0px;
 
    
}

.container{
    
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1400px;
    flex: 1 1 auto;

   /* width: 100%;
   
  flex: 1 1 auto;
  margin: 0 auto;*/
}
.background__video{
    background: url('../video/main-hero1\ -\ Trim.mp4');
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    opacity: 0.7;
}
.menu-top-header__list{
    display: flex;
    justify-content: space-between;


}
.menu-top-header__item{
    margin: 0 10px;
   
}
.menu-top-header__link{
    color: white;
}
.mainblock__number{
    color: white;
}
.mainblock__background{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: black;
}

.mainblock__logo{
   width: 40px;
   height: 40px;
   position: relative;
   bottom:2px;
}
.mainblock__logo img{
    max-width: 100%;
    
}